@import "tailwindcss";

@theme {
  --font-serif: "Vollkorn Variable", serif;

  --color-leaf: rgb(51 74 47);
  --color-ivory: rgb(248 242 227);
}

html,
body {
  @apply bg-amber-50/25 dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  @apply font-serif;
}
